<footer>
  <div id="footer-wider" layout="column">
    <div id="footer-bar" layout="row"layout-align="center start">
      <span flex><img id="footer-logo" src="assets/images/global-warriors-logo.png"/></span>
      <h2 flex class="md-toolbar-tools md-toolbar-tools-bottom">
        <md-button href="/" >Home</md-button>
        <md-button href="#/fighters" >Fighters</md-button>
        <md-button href="#/events" >Upcoming Events</md-button>
        <md-button href="#" >Media</md-button>
        <md-button href="#" >Sponsors</md-button>
      </h2>
    </div>
    <div id="footer-top"></div>

  </div>
</footer>
