
.acme-navbar-text{
  color: white;
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: greenyellow;
}

md-toolbar{
  background-color: transparent !important;
}
header{
  background-color: #232323;
}

#header-logo{
  width: 280px;
}

#header-top{
  height:92px;
  max-width:1200px;
  margin:auto;
  h2{
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 24px;
  }
  a {
    display: inline-block;
    font-size:12px;
    width:auto;
  }
  a:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    @include transition(width .5s ease, background-color .5s ease);
  }
  a:hover:after {
    width: 100%;
    background: #ff806e;
  }
  .header-bar{
    width: 100%;
  }
  img{
    position: fixed;
    z-index: 2;
  }
  .md-button:not([disabled]):hover, .md-button:not([disabled]).md-focused{
    background-color: transparent;
  }
  .color-bar{
    background-color: darkred;
    width:100%;
    height: 36px;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 56px;
  }
  .menu-button{
    margin-top: 34px;
  }
}
