<md-toolbar id="header-top" layout="row" layout-align="center center">
  <span flex><img id="header-logo" src="assets/images/global-warriors-logo.png"/></span>
  <h2 flex hide-sm hide-xs class="md-toolbar-tools md-toolbar-tools-bottom" >
    <md-button href="/" class="md-primary">Home</md-button>
    <md-button href="#/fighters" class="md-primary">Fighters</md-button>
    <md-button href="#/events" class="md-primary">Fight Cards</md-button>
    <md-button href="#/media" class="md-primary">Media</md-button>
    <md-button href="#" class="md-primary">Sponsors</md-button>
    <md-button href="#" class="md-primary">Tickets</md-button>
  </h2>
  <md-button hide-gt-sm ng-click="vm.openRightMenu()"
             class="md-primary">
    Menu
  </md-button>
</md-toolbar>
