<md-toolbar id="header-top" layout="row" layout-align="center center">

  <span flex><img id="header-logo" src="assets/images/global-warriors-logo.png"/></span>
  <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
    <md-button href="#" class="md-primary">Home</md-button>
    <md-button href="#" class="md-primary">Fighters</md-button>
    <md-button href="#" class="md-primary">News</md-button>
    <md-button href="#" class="md-primary">Upcoming Events</md-button>
    <md-button href="#" class="md-primary">Media</md-button>
    <md-button href="#" class="md-primary">Sponsors</md-button>
    <md-button href="#" class="md-primary">Tickets</md-button>
  </h2>
</md-toolbar>
