#countdown-container{
  margin-top: -20px;
  color: white;
  width: 300px;
  margin: 0 auto 7px auto;
  background-color: none;
  div[flex]{
    color: #c8a53b;
    text-align: center;
    margin: 0 3px;
    padding: 5px;
  }
}
