
    <div class="main-content">

      <img class="night-logo" src="assets/images/night-of-champions-logo-png.png" alt="night of champions logo" width="100%"/>
      <count-down></count-down>
      <md-grid-list class="align-center fight-card" md-cols="3" md-row="2" md-row-sm="3" md-cols-sm="1"  md-row-xs="3" md-cols-xs="1" md-row-height="300px" md-row-height-sm="200px" md-row-height-xs="150px" md-gutter="0px" md-gutter-gt-sm="0px">
        <md-grid-tile hide-xs hide-sm style="" md-rowspan-gt-sm="2" md-colspan-gt-sm="1" md-rowspan="1" md-colspan="1">
          <img class="left-panel-image" src="assets/images/josh-hill-panel.png" >
        </md-grid-tile>
        <md-grid-tile class="" md-rowspan-gt-sm="2" md-colspan-gt-sm="1" md-rowspan="1" md-colspan="1">
          <div class="versus-logo" layout="column">
            <p>HILL</p>
            <p>KAMERY</p>
            <div layout="row">
              <span class="md-headline middle-content" flex>Bantamweight Championship</span>
            </div>
            <div layout="row">
              <span class="md-headline left-content" flex="40">Whitlock</span>
              <span class="md-headline middle-content" flex="20">VS</span>
              <span class="md-headline right-content" flex="40">Brookins</span>
            </div>
            <div layout="row">
              <span class="md-headline left-content" flex="40">Ricci</span>
              <span class="md-headline middle-content" flex="20">VS</span>
              <span class="md-headline right-content" flex="40">Prepolic</span>
            </div>
            <div layout="row" >
              <span class="md-headline left-content" flex="40">Hale</span>
              <span class="md-headline middle-content" flex="20">VS</span>
              <span class="md-headline right-content" flex="40">Petahtehoose</span>
            </div>
            <div layout="row">
              <md-button class="md-raised" ui-sref="events" flex="50">Fight Cards</md-button>
              <md-button class="md-raised" flex="50">Get Tickets</md-button>
            </div>
          </div>
        </md-grid-tile>
        <md-grid-tile hide-xs hide-sm style="background: url(assets/images/bill-kamery-panel.png); background-size:cover;" md-rowspan-gt-sm="2" md-colspan-gt-sm="1" md-rowspan="1" md-colspan="1">

        </md-grid-tile>
      </md-grid-list>


      <md-grid-list class="align-center" md-cols-xs="1" md-cols-sm="1" md-cols-md="6" md-cols-gt-md="6" md-cols-gt-lg="6" md-row-height-gt-sm="200px" md-row-height="1:1" md-gutter="0px" md-gutter-gt-sm="0px">
        <md-grid-tile class="grey" md-rowspan="2" md-colspan="3" md-rowspan-sm="1" md-colspan-sm="1" md-rowspan-xs="1" md-colspan-xs="1">
        </md-grid-tile>
        <md-grid-tile class="dark-grey" md-rowspan="2" md-colspan="3" md-rowspan-sm="1" md-colspan-sm="1" md-rowspan-xs="1" md-colspan-xs="1">
        </md-grid-tile>
        <md-grid-tile class="red" md-rowspan="2" md-colspan="2" md-rowspan-sm="1" md-colspan-sm="1" md-rowspan-xs="1" md-colspan-xs="1">
        </md-grid-tile>
        <md-grid-tile class="img-tile" md-rowspan="4" md-colspan="4" md-colspan-sm="1" md-rowspan-sm="1" md-colspan-xs="1" md-rowspan-xs="1">
          <md-grid-tile-footer>
            <h3>This is a header for the featured event</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="dark-grey" md-rowspan="2" md-colspan="2" md-rowspan-sm="1" md-colspan-sm="1" md-rowspan-xs="1" md-colspan-xs="1">
        </md-grid-tile>
        <md-grid-tile class="grey" md-rowspan="2" md-colspan="2" md-rowspan-sm="1" md-colspan-sm="1" md-rowspan-xs="1" md-colspan-xs="1">
        </md-grid-tile>
        <md-grid-tile class="dark-grey" md-rowspan="2" md-colspan="2" md-rowspan-sm="1" md-colspan-sm="1" md-rowspan-xs="1" md-colspan-xs="1">
        </md-grid-tile>
        <md-grid-tile class="red" md-rowspan="2" md-colspan="2" md-rowspan-sm="1" md-colspan-sm="1" md-rowspan-xs="1" md-colspan-xs="1">
        </md-grid-tile>
        <md-grid-tile class="img-tile" md-rowspan="3" md-colspan="4" md-colspan-sm="1" md-rowspan-sm="1" md-colspan-xs="1" md-rowspan-xs="1">
          <md-grid-tile-footer>
            <h3>This is a header for the featured event</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
        <md-grid-tile class="white" md-rowspan="3" md-colspan="2" md-rowspan-sm="1" md-colspan-sm="1" md-rowspan-xs="1" md-colspan-xs="1">
        </md-grid-tile>
        <md-grid-tile class="white" md-rowspan="1" md-colspan="6" md-rowspan-sm="1" md-colspan-sm="1" md-rowspan-xs="1" md-colspan-xs="1">
        </md-grid-tile>
        <md-grid-tile class="img-tile" md-rowspan="4" md-colspan="6" md-colspan-sm="1" md-rowspan-sm="1" md-colspan-xs="1" md-rowspan-xs="1">
          <md-grid-tile-footer>
            <h3>This is a header for the featured event</h3>
          </md-grid-tile-footer>
        </md-grid-tile>

      </md-grid-list>



      <md-grid-list class="align-center" md-cols-xs="4" md-cols-sm="4" md-cols-md="5" md-cols-gt-md="5" md-row-height-gt-sm="195px" md-row-height="100px" md-gutter="0px" md-gutter-gt-sm="0px">
        <md-grid-tile class="" md-rowspan="2" md-colspan="3" md-rowspan-sm="4" md-colspan-sm="4" md-rowspan-xs="4" md-colspan-xs="4">
          <youtube-video video-id="mainVideo" player-width="'100%'"></youtube-video>
        </md-grid-tile>
        <md-grid-tile class="match-info" md-rowspan="1" md-colspan="1" ng-click="setVideo(0)">
          <md-content flex layout-paddin>
            <p class="md-body-1">Lorem ipsum</p>
          </md-content>
        </md-grid-tile>
        <md-grid-tile class="match-info" md-rowspan="1" md-colspan="1" ng-click="setVideo(1)">
          <md-content flex layout-padding>
            <p class="md-body-1">Lorem ipsum</p>
          </md-content>
        </md-grid-tile>
        <md-grid-tile class="match-info" md-rowspan="1" md-colspan="1" ng-click="setVideo(2)">
          <md-content flex layout-padding>
            <p class="md-body-1">Lorem ipsum </p>
          </md-content>
        </md-grid-tile>
        <md-grid-tile class="match-info" md-rowspan="1" md-colspan="1" ng-click="setVideo(3)">
          <md-content flex layout-padding>
            <p class="md-body-1">Lorem ipsum</p>
          </md-content>
        </md-grid-tile>
      </md-grid-list>
    </div>
    <footer-bar></footer-bar>
